<footer>
    <div>
        <ul>
          <li><a href=""> <img src="/images/klipartz2.png" alt=""></a></li>
          <li><a href=""> <img src="/images/klipartz3.png" alt=""></a></li>
          <li><a href=""> <img src="/images/klipartz4.png" alt=""></a></li>
        </ul>
    </div>
</footer>